<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

        .btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            outline: none;
            border: none;
            height: 26px;
            line-height: 26px;
            min-width: 60px;
            border-radius: 3px;
            cursor: pointer;
            text-decoration: none;
            padding: 2px 0;
            color: #000;
        }

        .btn-edit {
            background-color: orange;
        }

        .btn-delete {
            background-color: crimson;
        }
    </style>
</head>

<body>

    <table id="customers">
        <tr>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        <% for(let i=0; i < data.length; i++){ %>
            <tr>
                <td>
                    <%= data[i].email %>
                </td>
                <td>
                    <%= data[i].firstName %>
                </td>
                <td>
                    <%= data[i].lastName %>
                </td>
                <td>
                    <%= data[i].address %>
                </td>
                <td>
                    <a href="/edit-crud?id=<%= data[i].id %>" class="btn btn-edit" type="button">Edit</a>
                    <a href="/delete-crud?id=<%= data[i].id %>" class="btn btn-delete" type="button">Delete</a>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>